<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="/mainapp/process" method="post">
        {% csrf_token %}
        Your Name: <input type="text" name="yourname">
        Dojo Location: <select name="location">
                            <option value="Chicago">Chicago</option>
                            <option value="San Jose">San Jose</option>
                            <option value="Seattle">Seattle</option>
                       </select>
        Favorite Language: <select name="favlang">
                            <option value="Python">Python</option>
                            <option value="MEAN">MEAN</option>
                            <option value="C#">C#</option>
                           </select>
        Comment (optional): <p>Comment: <textarea name="commentbox" cols="30" rows="6"></textarea></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>